@import '../../common/_fabric';
@import '../../common/_mixins';

.profile-page {
    @include flex-parent(column);

    .profile-nav {
        @include flex-parent(column);
        position: fixed;
        top: 0;
        width: 100vw;
        padding: 0px;
        transition: padding 0.3s ease-in-out;
        z-index: 2;

        .header {
            transition: background-color 0.3s ease-in-out;
        }

        &.transparent {
            padding: 20px 0px;
            .header {
                background-color: transparent;
            }
        }
    }

    .me-section {
        background: linear-gradient(rgba(0,0,0, 0.50), rgba(0,0,0, 0.50)), url(../../assets/intro-bg.jpg);
        background-size: cover;
        height: 100vh;
    }

    .skills-section {
        background: linear-gradient(rgba(0,0,0, 0.70), rgba(0,0,0, 0.70)), url(../../assets/work.jpg);
        background-position-y: 80%;
        background-size: cover;
    }

    .timeline-section {
        background: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url(../../assets/blue.jpg);
        background-size: cover;
    }
}