@import '../../common/_fabric';
@import '../../common/_mixins';

.me-container {
    @include flex-parent(row);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-height: 800px;

    .me {
        @include flex-parent(row);
        align-items: center;

        .me-picture {
            flex: none;
            margin-right: 20px;

            img {
                max-height: 150px;
                max-width: 150px;
                border-radius: 100%;
            }
        }

        .me-description {
            @include flex-parent(column);
            flex: auto;

            .me-title {
                @include ms-font-xxl();
            }

            .me-blurb {
                @include ms-font-m();
            }
        }
    }
}